{% extends "dashboard/base.html" %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yangi KPI yaratish</h4>
            <p class="card-description">
            KPI ma'lumotlarini to'ldiring
            </p>
            <form class="forms-sample" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputName1">Nomi</label>
                    <input type="text" class="form-control" id="exampleInputName1" name="name" placeholder="Nomi" required>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Ta'rif</label>
                    <textarea class="form-control" id="exampleTextarea1" name="description" rows="8"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Ball</label>
                    <input type="number" class="form-control" id="exampleInputName1" name="ball" placeholder="Ball" min="0" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Boshlanish sanasi</label>
                    <input type="date" class="form-control" id="exampleInputName1" name="start_date" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Tugash sanasi</label>
                    <input type="date" class="form-control" id="exampleInputName1" name="end_date" required>
                </div>
                <input type="hidden" class="form-control" id="exampleInputName1" name="created_by" value="{{ user.id }}" required>

                <button type="submit" class="btn btn-primary mr-2">Yaratish</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock content %}
