{% extends "dashboard/base.html" %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ kpi.name }}</h4>
          <p class="card-description">
            Umumiy ball <code>{{ kpi.total_ball }}</code>. Faoliyat davri <b>{{ kpi.start_date }}</b> dan <b>{{ kpi.end_date }}</b> gacha.
          </p>
          <p>
            {{ kpi.description }}
          </p>
        </div>
      </div>
    </div>
</div>

{% if user.role == root_user.ADMIN %}
  <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <a href="{% url "dashboard:kpi-delete" kpi.id %}" class="btn btn-inverse-danger">O'chirish</a>
              <a href="{% url "dashboard:kpi-update" kpi.id %}" class="btn btn-inverse-primary">Tahrirlash</a>
          </div>
      </div>
  </div>
{% endif %}

{% endblock content %}