{% extends "dashboard/base.html" %}
{% load static %}


{% block content %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ employee.full_name }}</h4>
        <p class="card-description">
          Xabar yuborish
        </p>
        <form class="forms-sample" method="post">
          {% csrf_token %}

          <input type="hidden" name="sender" value="{{ user.id }}" required>
          <input type="hidden" name="receiver" value="{{ employee.id }}" required>
          <div class="form-group">
              <label>Xabarni kiriting</label>
              <textarea class="form-control" id="exampleTextarea1" rows="10" name="massage" required></textarea>
          </div>

          <div class="form-group">
            <div class="form-check form-check-success">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="type" value="{{ notefication.SUCCESS }}" checked>
                Rag'batlantirish
              </label>
            </div>
            <div class="form-check form-check-info">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="type" value="{{ notefication.INFO }}">
                Ma'lumot berish
              </label>
            </div>
            <div class="form-check form-check-danger">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="type" value="{{ notefication.DENGER }}">
                Tanbeh berish
              </label>
            </div>
            <div class="form-check form-check-warning">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="type" value="{{ notefication.WARNING }}">
                Ogohlantirish
              </label>
            </div>
          </div>

{% comment %}           
          <div class="form-group">
            <label>Xabar turini tanlang</label>
            <select class="js-example-basic-single w-100", name="type" required>
              <option selected="{{ notefication.SECCESS }}">Rag'batlantirish {{ notefication.SECCESS }}</option>
              <option value="{{ notefication.INFO }}">Ma'lumot berish</option>
              <option value="{{ notefication.DENGER }}">Tanqid qilish</option>
              <option value="{{ notefication.WARNING }}">Ogohlantirish</option>
            </select>
          </div> {% endcomment %}

          </br>
          <button type="submit" class="btn btn-primary mr-2">Yuborish</button>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
