{% extends "dashboard/base.html" %}
{% load static %}


{% block content %}
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="color: #248AFD"><i class="mdi mdi-clipboard-text"></i> Band: <a href="{% url "dashboard:clause-detail" work.clause.id %}">{{ work.clause.name }}</a></h4>
        <p>
          {{ work.clause.description }}
        </p>
        <p class="card-description">
          Umumiy ball <code>{{ work.clause.ball }}</code>.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" style="color: #248AFD"><i class="mdi mdi-briefcase-upload"></i> Hisobot</h4>
            <p>
                Izoh: {{ work.comment }}
            </p>
            <p>
                hodim: {{ work.owner.full_name }}
            </p>
            <br>
            <a href="{{ work.file.url }}" class="btn btn-inverse-primary">Hisobotni ko'rish</a>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
          {% if work.is_checked %}
            <h4 class="card-title">Hisobotni Baholash</h4>
          {% else %}
            <h4 class="card-title">Hisobotni Baholash</h4>
          {% endif %}
          <form class="forms-sample" method="post" action="{% url "dashboard:assessment" work.id %}">
              {% csrf_token %}

              <input type="hidden" name="submission" value="{{ work.id }}">
              <input type="hidden" name="criterion" value="{{ work.clause.criterion.id }}">
              <input type="hidden" name="employee" value="{{ work.owner.id }}">
              <input type="hidden" name="marked_by" value="{{ user.id }}">

              <div class="form-group">
                  <label for="exampleInputName1">Ball</label>
                  <input type="number" class="form-control" id="exampleInputName1" name="ball" min="0" max="{{ work.clause.ball }}" placeholder="Ball" required>
              </div>

              <div class="form-group">
                  <label for="exampleTextarea1">Izoh yozing</label>
                  <textarea class="form-control" id="exampleTextarea1" name="comment" rows="4" required></textarea>
              </div>
              
              <button type="submit" class="btn btn-primary mr-2">Baholash</button>
          </form>
        </div>
        </div>
    </div>
</div>
{% endblock content %}
