{% extends "dashboard/base.html" %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="color: #248AFD"> <i class="mdi mdi-bank"></i>  {{ department.name }}</h4>
            <ul class="card-description">
                <li>Bo'lim boshlig'i <b>{{ department.boss.full_name }}</b>.</li>
                <li>Hodimlar soni <code>{{ count }}</code>.</li>
            </ul>
        </div>
        {% if user.role == root_user.ADMIN %}
            <div class="card-body" style="text-align: center;">
                <a href="{% url "dashboard:department-delete" department.id %}" class="btn btn-inverse-danger">O'chirish</a>
                <a href="{% url "dashboard:department-update" department.id %}" class="btn btn-inverse-primary">Tahrirlash</a>
            </div>
        {% endif %}
      </div>
    </div>

    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hodimlar</h4>
                <p>Ushbu bo'limda mavjud hodimlar jadvali.</p>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          Hodim
                        </th>
                        <th>
                          Ismi
                        </th>
                        <th>
                          Ko'rsatgich
                        </th>
                        <th>
                          Ball
                        </th>
                        <th>
                          Bo'limlar
                        </th>
                        <th>
                          Xabar yuborish
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for employee in employees %}
                        <tr>
                          <td class="py-1">
                            <img src="{{ employee.profile_picture }}" alt="image"/>
                          </td>
                          <td>
                            {{ employee.name }}
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-success" role="progressbar" style="width: {{ employee.percent }}%" aria-valuenow="{{ employee.percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                          <td>
                            {{ employee.ball }}
                          </td>
                          <td>
                            {{ employee.departments }}
                          </td>
                          <td>
                            <a href="{% url "dashboard:send-notefications" employee.id %}" class="btn btn-inverse-primary p-2">Xabar</a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}