{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <h3 class="font-weight-bold">KPI holatini vizual ko'rish!</h3>
        <h6 class="font-weight-normal mb-0">Barcha statistika yuborilgan hisobotlar soni bo'yicha!</h6>
      </div>
      <div class="col-12 col-xl-4">
       <div class="justify-content-end d-flex">
        <div class="dropdown flex-md-grow-1 flex-xl-grow-0" style="color: #248AFD;">
          <div class="dropdown">
            <button class="btn btn-danger dropdown-toggle"  style="background-color: #248AFD; border-color: #248AFD" type="button" id="dropdownMenuSizeButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if current_kpi %}
                  <i class="icon-bar-graph"></i>  {{ current_kpi.name }}
                {% else %}
                  KPI tanlang!
                {% endif %}
            </button>
            {% if kpis.count > 1 %}
              <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton2">
                  {% for kpi in kpis %}
                      {% if kpi.id != current_kpi.id %}
                          <a class="dropdown-item" href="{% url "dashboard:main" %}?kpi_id={{ kpi.id }}">{{ kpi.name }}</a>
                      {% endif %}
                  {% endfor %}
              </div>
            {% else %}
              <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton2">
                <a class="dropdown-item" href="#">Boshqa KPI mavjud emas.</a>
              </div>
            {% endif %}
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card tale-bg">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">KPI kesimida</h4>
                <canvas id="barChart"></canvas>
              </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card tale-bg">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Bo'limlar kesimida</h4>
                <canvas id="pieChart"></canvas>
              </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block additional_js %}
  <script src="{% static "vendors/chart.js/Chart.min.js" %}"></script>
  <script>
    var data = {
        labels: [{% for kpi in kpis_data %} "{{ kpi.name }}",{% endfor %}],
        datasets: [{
          label: 'Hisobotlar',
          data: [{% for kpi in kpis_data %} {{ kpi.submission_count }},{% endfor %}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.8)',
            'rgba(54, 162, 235, 0.8)',
            'rgba(255, 206, 86, 0.8)',
            'rgba(75, 192, 192, 0.8)',
            'rgba(153, 102, 255, 0.8)',
            'rgba(255, 159, 64, 0.8)',
            'rgba(255, 100, 120, 0.8)',
            'rgba(255, 80, 160, 0.8)',
            'rgba(255, 40, 200, 0.8)',
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(255, 100, 120, 0.8)',
            'rgba(255, 80, 160, 0.8)',
            'rgba(255, 40, 200, 0.8)',
          ],
          borderWidth: 1,
          fill: false
        }]
    };
    

    var doughnutPieData = {
      datasets: [{
        data: [30, 20, 15, 20, 15,],
        backgroundColor: [
          'rgba(255, 99, 132, 0.5)',
          'rgba(54, 162, 235, 0.5)',
          'rgba(255, 206, 86, 0.5)',
          'rgba(75, 192, 192, 0.5)',
          'rgba(153, 102, 255, 0.5)',
          'rgba(255, 159, 64, 0.5)',
          'rgba(120, 159, 64, 0.5)',
          'rgba(255, 99, 64, 0.5)',
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(220, 159, 64, 1)',
          'rgba(190, 139, 64, 1)',
        ],
      }],

      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: [
        'birinchi',
        'ikkinchi',
        'uchinchi',
        'tortinchi',
        'beshinchi',
      ]
    };
    var doughnutPieOptions = {
      responsive: true,
      animation: {
        animateScale: true,
        animateRotate: true
      }
    };

  </script>
  <script src="{% static "js/chart.js" %}"></script>
{% endblock additional_js %}
