{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <h3 class="font-weight-bold">Hush kelibsiz {{ user.full_name }}!</h3>
        <h6 class="font-weight-normal mb-0">Barcha tizimlar muammosiz ishlayapti!</h6>
      </div>
      <div class="col-12 col-xl-4">
       <div class="justify-content-end d-flex">
        <div class="dropdown flex-md-grow-1 flex-xl-grow-0" style="color: #248AFD;">
          <div class="dropdown">
            <button class="btn btn-danger dropdown-toggle"  style="background-color: #248AFD; border-color: #248AFD" type="button" id="dropdownMenuSizeButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if current_kpi %}
                  <i class="icon-bar-graph"></i>  {{ current_kpi.name }}
                {% else %}
                  KPI tanlang!
                {% endif %}
            </button>
            {% if kpis.count > 1 %}
              <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton2">
                  {% for kpi in kpis %}
                      {% if kpi.id != current_kpi.id %}
                          <a class="dropdown-item" href="{% url "dashboard:main" %}?kpi_id={{ kpi.id }}">{{ kpi.name }}</a>
                      {% endif %}
                  {% endfor %}
              </div>
            {% else %}
              <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton2">
                <a class="dropdown-item" href="#">Boshqa KPI mavjud emas.</a>
              </div>
            {% endif %}
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
         <div class="d-flex justify-content-between">
          <p class="card-title">KPI Jadvali</p>
          <a href="{% url "dashboard:kpi" %}" class="text-info">Batafsil</a>
         </div>
         
         {% if kpis %}
          <p class="font-weight-500">Tizimda mavjud KPI lar jadvali.</p>
          <div class="table-responsive">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nomi</th>
                  <th>Ball</th>
                </tr>
              </thead>
              <tbody>

                {% for kpi in kpis %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url "dashboard:kpi-detail" kpi.id %}">{{ kpi.name }}</a></td>
                    <td class="font-weight-bold">{{ kpi.ball }}</td>
                  </tr>
                {% endfor %}
    
              </tbody>
            </table>
          </div>
         {% else %}
          <p class="font-weight-500">Tizimda KPI lar <code>mavjud emas!</code> Yaratish uchun Batafsilni bosing.</p>
         {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
         <div class="d-flex justify-content-between">
          <p class="card-title">Bo'limlar Jadvali</p>
          <a href="#" class="text-info">Hammasi</a>
         </div>
         {% if departments %}
          <p class="font-weight-500">Tizimda mavjud bo'limlar jadvali.</p>
          <div class="table-responsive">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nomi</th>
                  <th>Hodimlar</th>
                </tr>
              </thead>
              <tbody>

                {% for department in departments|slice:"0:5" %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="#">{{ department.name }}</a></td>
                  <td class="font-weight-bold">{{ department.employees.count }}</td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
         {% else %}
          <p class="font-weight-500">Tizimda bo'limlar <code>mavjud emas!</code> Yaratish uchun Hammasini bosing.</p>
         {% endif %}
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hodimlar jadvali.</h4>
        <p class="card-description">
          Tizimdan foydalanuvchi hodimlar jadvali <code>{{ employees.count }} ta.</code>
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Hodim
                </th>
                <th>
                  Ismi
                </th>
                <th>
                  Ko'rsatgich
                </th>
                <th>
                  Ball
                </th>
                <th>
                  Bo'limlar
                </th>
              </tr>
            </thead>
            <tbody>
              {% for employee in employees %}
                <tr>
                  <td class="py-1">
                    <img src="{{ employee.profile_picture.url }}" alt="image"/>
                  </td>
                  <td>
                    {{ employee.full_name }}
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td>
                    {{ 0 }}
                  </td>
                  <td>
                    {{ "some" }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
