{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <h3 class="font-weight-bold">Hush kelibsiz {{ user.full_name }}!</h3>
        <h6 class="font-weight-normal mb-0">Barcha tizimlar muammosiz ishlayapti!</h6>
      </div>
      <div class="col-12 col-xl-4">
       <div class="justify-content-end d-flex">
        <div class="dropdown flex-md-grow-1 flex-xl-grow-0" style="color: #248AFD;">
          <div class="dropdown">
            <button class="btn btn-danger dropdown-toggle"  style="background-color: #248AFD; border-color: #248AFD" type="button" id="dropdownMenuSizeButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if current_kpi %}
                  <i class="icon-bar-graph"></i>  {{ current_kpi.name }}
                {% else %}
                  KPI tanlang!
                {% endif %}
            </button>
            {% if kpis.count > 1 %}
              <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton2">
                  {% for kpi in kpis %}
                      {% if kpi.id != current_kpi.id %}
                          <a class="dropdown-item" href="{% url "dashboard:main" %}?kpi_id={{ kpi.id }}">{{ kpi.name }}</a>
                      {% endif %}
                  {% endfor %}
              </div>
            {% else %}
              <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton2">
                <a class="dropdown-item" href="#">Boshqa KPI mavjud emas.</a>
              </div>
            {% endif %}
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h4 class="card-title">Hodimlaringiz jadvali.</h4>
          {% comment %} <a href="{% url "dashboard:employees" %}" class="text-info">Batafsil</a> {% endcomment %}
         </div>
        
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Hodim
                </th>
                <th>
                  Ismi
                </th>
                <th>
                  Ko'rsatgich
                </th>
                <th>
                  Ball
                </th>
                <th>
                  Xabar yuborish
                </th>
              </tr>
            </thead>
            <tbody>
              {% for employee in employees %}
                <tr>
                  <td class="py-1">
                    <img src="{{ employee.profile_picture }}" alt="image"/>
                  </td>
                  <td>
                    {{ employee.name }}
                  </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: {{ employee.percent }}%" aria-valuenow="{{ employee.percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td>
                    {{ employee.ball }}
                  </td>
                  <td>
                    <a href="{% url "dashboard:send-notefications" employee.id %}" class="btn btn-inverse-primary p-2">Xabar</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
