{% extends "dashboard/base.html" %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          {% if metric.parent %}
            <p class="card-description">
              <a href="{% url "dashboard:metric-detail" kpi.id metric.parent.id %}">{{ metric.parent.name }}</a>ga tegishli.
            </p>
          {% endif %}
          <h4 class="card-title">{{ metric.name }}</h4>
          <p class="card-description">
            Umumiy ball <code>{{ metric.ball }}</code>. Topshirish muddati {{ metric.deadline }}
          </p>
          <p class="card-description">
            {{ metric.description }}
          </p>
        </br>
          {% if children %}
            <h4 class="card-title">Mavjud ichki metriklar</h4>
            <div class="table-responsive pt-3">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      #
                    </th>
                    <th>
                      Nomi
                    </th>
                    <th>
                      Ball
                    </th>
                    <th>
                      Muddat
                    </th>
                    <th>
                      Ta'rif
                    </th>
                  </tr>
                </thead>
                <tbody>

                  {% for child in children %}
                    <tr>
                      <td>
                        {{ forloop.counter }}
                      </td>
                      <td>
                          <a href="{% url "dashboard:metric-detail" kpi.id child.id %}">{{ child.name }}</a>
                      </td>
                      <td>
                        {{ child.ball }}
                      </td>
                      <td>
                        {{ child.deadline }}
                      </td>
                      <td>
                        {{ child.description }}
                      </td>
                    </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
    {% comment %} TODO: statistics of Departments, Employees {% endcomment %}
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body" style="text-align: center;">
            {% if user.role == root_user.MANAGER %}
              <a href="{% url "dashboard:metric-delete" kpi.id metric.id %}" class="btn btn-inverse-danger">O'chirish</a>
              <a href="{% url "dashboard:metric-update" kpi.id metric.id %}" class="btn btn-inverse-primary">Tahrirlash</a>
            {% elif user.role == root_user.EMPLOYEE %}
              <a class="btn btn-inverse-primary" href="{% url "dashboard:submission-create" kpi.id metric.id %}">Hisobotni joylash</a>
            {% endif %}
          </div>
        </div>
    </div>
</div>
{% endblock content %}