{% extends "dashboard/base.html" %}
{% load static %}


{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">KPI: {{ kpi.name }}</h4>
            <p class="card-description">
                Umumiy ball <code>{{ kpi.total_ball }}</code>. Ushbu KPIga ma'suldor shaxs <b>{{ kpi.responsible_employee.full_name }}</b>.
            </p>
            <p>
                {{ kpi.description }}
            </p>
            <hr>
            <h4 class="card-title">Ushbu KPI bo'yicha Mavjud Mezonlar jadvali</h4>
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                <thead>
                    <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Nomi
                    </th>
                    <th>
                        Ball
                    </th>
                    <th>
                        Muddat
                    </th>
                    <th>
                        Ta'rif
                    </th>
                    </tr>
                </thead>
                <tbody>

                    {% for metric in metrics %}
                    <tr>
                        <td>
                        {{ forloop.counter }}
                        </td>
                        <td>
                            <a href="{% url "dashboard:metric-detail" kpi.id metric.id %}">{{ metric.name }}</a>
                        </td>
                        <td>
                        {{ metric.ball }}
                        </td>
                        <td>
                        {{ metric.deadline }}
                        </td>
                        <td>
                        {{ metric.description }}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
                </table>
            </div>
            
            </br>

            <div class="template-demo" style="text-align: center">
                <div class="btn-group" role="group" aria-label="Basic example">
                    {% if user.role == root_user.MANAGER %}
                        <a class="btn btn-inverse-primary" href="{% url "dashboard:metric-create" kpi.id %}">Yaratish</a>
                    {% endif %}
                </div>
            </div>
          
        </div>
    </div>
</div>


{% endblock content %}