{% extends "dashboard/base.html" %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ kpi.name }}</h4>
            <p class="card-description">
                Umumiy ball <code>{{ kpi.total_ball }}</code>. {{ kpi.responsible_employee.full_name }}ga biriktirilgan.
            </p>
            <p>
                {{ kpi.description }}
            </p>
            </br>
            <h4 class="card-title">Metrikni tahrirlash</h4>
            <form class="forms-sample" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputName1">Nomi</label>
                    <input type="text" class="form-control" id="exampleInputName1" name="name" placeholder="Name" value="{{ metric.name }}" required>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Ta'rif</label>
                    <textarea class="form-control" id="exampleTextarea1" name="description" rows="8" value="{{ metric.description }}" required>{{ kpi.description }}</textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Ball</label>
                    <input type="number" class="form-control" id="exampleInputName1" name="ball" placeholder="Ball" value="{{ metric.ball }}" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Muddat</label>
                    <input type="date" class="form-control" id="exampleInputName1" name="deadline" placeholder="Deadline" value="{{ deadline }}" required>
                </div>

                <input type="hidden" name="kpi" value="{{kpi.id}}">
                
                <div class="form-group">
                    <label>Metrikga biriktirish uchun tanlang (ixtiyoriy)</label>
                    <select class="js-example-basic-single w-100" id="metricSelect", name="parent">
                        {% if metric.parent %}
                            <option value="{{ metric.parent.id }}">{{ metric.parent.name }}</option>
                        {% else %}
                         <option value="">Xech biri!</option>
                        {% endif %}
                        <option value="{{ metric.id }}">{{ metric.name }}</option>
                        {% for item in metrics %}
                            {% if item != metric %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Tahrirlash</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
